.home {
  font-family: "Segoe UI", sans-serif;
}

/* HERO */
.hero {
  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://static.vecteezy.com/system/resources/previews/043/064/816/non_2x/flat-student-dormitory-room-or-hostel-university-or-college-dorm-bedroom-empty-interior-with-bunk-bed-desk-at-window-chair-and-bookshelf-living-apartment-or-accommodation-with-wooden-furniture-vector.jpg");

  background-size: cover;
  background-position: center;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 3.2rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 26px;
  border: none;
  border-radius: 25px;
  background: #2563eb;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* INFO */
.info {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 70px 40px;
  background: #f5f7fb;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 280px;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: center;
}

.card h2 {
  color: #2563eb;
  margin-bottom: 10px;
}